<a href="https://colab.research.google.com/github/thilankam/Atlas_Of_Opportunity/blob/main/NYC_Restaurants_TopCat_SubCategory_with_Placekey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# combining multiple csv file by row bind
import pandas as pd
import numpy as np
import glob
import os

In [ ]:
# Safegraph-Mobility/core_poi_after_nov2020/core_poi/2021/03/06/02

In [2]:
# Safegraph-Mobility/core_poi_after_nov2020/core_poi/2021/01/06/11
# contains 5 zip files
# reading core_poi data
DF_core_poi_part1 = pd.read_csv('/content/sample_data/core_poi-part1.csv')
DF_core_poi_part2 = pd.read_csv('/content/sample_data/core_poi-part2.csv')
DF_core_poi_part3 = pd.read_csv('/content/sample_data/core_poi-part3.csv')
DF_core_poi_part4 = pd.read_csv('/content/sample_data/core_poi-part4.csv')
DF_core_poi_part5 = pd.read_csv('/content/sample_data/core_poi-part5.csv')

Now we Fiter the 'city' column: city = 'New York City' in the each dataframe 

and reassign to the DF_core_poi_part1_NYC. (Now the each dataframe has only the New York City placekeys)

In [3]:
DF_core_poi_part1_NYC = DF_core_poi_part1.loc[DF_core_poi_part1['city'] == 'New York']
DF_core_poi_part2_NYC = DF_core_poi_part2.loc[DF_core_poi_part2['city'] == 'New York']
DF_core_poi_part3_NYC = DF_core_poi_part3.loc[DF_core_poi_part3['city'] == 'New York']
DF_core_poi_part4_NYC = DF_core_poi_part4.loc[DF_core_poi_part4['city'] == 'New York']
DF_core_poi_part5_NYC = DF_core_poi_part5.loc[DF_core_poi_part5['city'] == 'New York']

In [8]:
DF_core_poi_part5_NYC.head()

,placekey,safegraph_place_id,parent_placekey,parent_safegraph_place_id,location_name,safegraph_brand_ids,brands,top_category,sub_category,naics_code,...,region,postal_code,iso_country_code,phone_number,open_hours,category_tags,opened_on,closed_on,tracking_opened_since,tracking_closed_since
182,23d-222@627-s4n-xdv,sg:0cc24fa12ab344bcaba0e36eb2641808,NaN,NaN,Orion Moving,NaN,NaN,Specialized Freight Trucking,Used Household and Office Goods Moving,484210.0,...,NY,10128,US,1.718374e+10,NaN,NaN,NaN,NaN,NaN,2019-07
206,239-223@627-s8j-mx5,sg:0dfc4c6ac04a43cca141d90e21faefb6,NaN,NaN,Margaret S Durante,NaN,NaN,Offices of Physicians,Offices of Physicians (except Mental Health Sp...,621111.0,...,NY,10016,US,NaN,NaN,NaN,NaN,NaN,NaN,2019-07
229,226-222@627-s8r-6rk,sg:0f24a4d061a74730b71f2afad75e2f9c,NaN,NaN,Expert Admissions,NaN,NaN,Other Schools and Instruction,Exam Preparation and Tutoring,611691.0,...,NY,10020,US,1.212787e+10,"{ ""Mon"": [[""9:00"", ""17:30""]], ""Tue"": [[""9:00"",...",NaN,NaN,NaN,NaN,2019-07
234,223-223@627-s8j-rtv,sg:0f44d77ea28b4f0297424a33f374d030,NaN,NaN,Furuyama Jean G DDS,NaN,NaN,Offices of Dentists,Offices of Dentists,621210.0,...,NY,10010,US,NaN,NaN,NaN,NaN,NaN,NaN,2019-07
338,22y-222@627-wc6-yjv,sg:162785e20897494a8c87197964c31528,NaN,NaN,Balmain,NaN,NaN,Clothing Stores,Women's Clothing Stores,448120.0,...,NY,10012,US,1.212966e+10,NaN,NaN,NaN,NaN,NaN,2019-07

In [9]:
DF_core_poi_part1_restaurants = DF_core_poi_part1_NYC.loc[DF_core_poi_part1_NYC['top_category'] == 'Restaurants and Other Eating Places']
DF_core_poi_part2_restaurants = DF_core_poi_part2_NYC.loc[DF_core_poi_part2_NYC['top_category'] == 'Restaurants and Other Eating Places']
DF_core_poi_part3_restaurants = DF_core_poi_part3_NYC.loc[DF_core_poi_part3_NYC['top_category'] == 'Restaurants and Other Eating Places']
DF_core_poi_part4_restaurants = DF_core_poi_part4_NYC.loc[DF_core_poi_part4_NYC['top_category'] == 'Restaurants and Other Eating Places']
DF_core_poi_part5_restaurants = DF_core_poi_part5_NYC.loc[DF_core_poi_part5_NYC['top_category'] == 'Restaurants and Other Eating Places']

In [14]:
DF_core_poi_part5_restaurants.head()
#DF_core_poi_part5_restaurants.shape

,placekey,safegraph_place_id,parent_placekey,parent_safegraph_place_id,location_name,safegraph_brand_ids,brands,top_category,sub_category,naics_code,...,region,postal_code,iso_country_code,phone_number,open_hours,category_tags,opened_on,closed_on,tracking_opened_since,tracking_closed_since
1090,228-222@627-s8r-7yv,sg:488f64602580497f8c27966614458df6,NaN,NaN,Da Marino,NaN,NaN,Restaurants and Other Eating Places,Limited-Service Restaurants,722513.0,...,NY,10019,US,1.212542e+10,"{ ""Mon"": [[""0:00"", ""2:00""], [""11:30"", ""24:00""]...",Italian Food,NaN,NaN,NaN,2019-07
1652,225-223@627-wc6-yd9,sg:70920dd631ae480893f6dd0f65708931,NaN,NaN,Mishka Soho Restaurant,NaN,NaN,Restaurants and Other Eating Places,Full-Service Restaurants,722511.0,...,NY,10013,US,1.646590e+10,NaN,"Russian Food,European Food",NaN,NaN,NaN,2019-07
1984,zzw-229@627-wc7-5j9,sg:8a0bf3ac18a64e5bb4a4d37b66d580f8,NaN,NaN,Peking Duck House,NaN,NaN,Restaurants and Other Eating Places,Full-Service Restaurants,722511.0,...,NY,10013,US,1.212227e+10,"{ ""Mon"": [[""11:30"", ""22:30""]], ""Tue"": [[""11:30...",Chinese Food,NaN,NaN,NaN,2019-07
2177,22w-222@627-s8k-s5z,sg:9760b8deccae49b3a99af31b40fe88de,NaN,NaN,Horus Cafe on A,NaN,NaN,Restaurants and Other Eating Places,Full-Service Restaurants,722511.0,...,NY,10009,US,1.212228e+10,"{ ""Mon"": [[""0:00"", ""4:00""], [""10:00"", ""24:00""]...","Mediterranean Food,Middle Eastern Food,Bar or ...",NaN,NaN,NaN,2019-07
2474,zzw-222@627-s8k-xqz,sg:acc9d63067d04fafb92a9eb9f6c38aeb,NaN,NaN,Zafis Luncheonette,NaN,NaN,Restaurants and Other Eating Places,Full-Service Restaurants,722511.0,...,NY,10002,US,1.212533e+10,"{ ""Mon"": [[""6:00"", ""18:30""]], ""Tue"": [[""6:00"",...","Diner,Brunch",NaN,NaN,NaN,2019-07

In [15]:
DF_core_poi_part1_NYCtopCatSubCat_restaurants = DF_core_poi_part1_restaurants[['placekey','top_category', 'sub_category','city','region','street_address']]
DF_core_poi_part2_NYCtopCatSubCat_restaurants = DF_core_poi_part2_restaurants[['placekey','top_category', 'sub_category','city','region','street_address']]
DF_core_poi_part3_NYCtopCatSubCat_restaurants = DF_core_poi_part3_restaurants[['placekey','top_category', 'sub_category','city','region','street_address']]
DF_core_poi_part4_NYCtopCatSubCat_restaurants = DF_core_poi_part4_restaurants[['placekey','top_category', 'sub_category','city','region','street_address']]
DF_core_poi_part5_NYCtopCatSubCat_restaurants = DF_core_poi_part5_restaurants[['placekey','top_category', 'sub_category','city','region','street_address']]

In [31]:
#DF_core_poi_part1_NYCtopCatSubCat_restaurants.head()
DF_core_poi_part5_NYCtopCatSubCat_restaurants.shape

(1809, 6)

Combining 5 dataframes with core_poi_part#_restaurants that 
include the `placekey` , `top_category` , `city` , `region` , `street_address` ,

In [32]:
NYC_RestaurentsTopCat_SubCat = pd.concat([DF_core_poi_part1_NYCtopCatSubCat_restaurants,DF_core_poi_part2_NYCtopCatSubCat_restaurants,DF_core_poi_part3_NYCtopCatSubCat_restaurants,DF_core_poi_part4_NYCtopCatSubCat_restaurants,DF_core_poi_part5_NYCtopCatSubCat_restaurants])

In [33]:
NYC_RestaurentsTopCat_SubCat.head(30)
NYC_RestaurentsTopCat_SubCat.shape

(9392, 6)

Wrting to a CSV file

In [34]:
NYC_RestaurentsTopCat_SubCat.to_csv('NYC_RestaurentsTopCat_SubCat.csv')